.btn-ka {
	display:block; 
	text-align: center;
	
}

/* #texteder {
	padding-left: 5px;
	height: 20px; 
	width: 100%; 
	font-size: medium; 
	color: blue; 
	background-color: white;
} */

#zone1,#zone2,#zone3 {
	width: 300px; 
	height: 40px; 
	transition: height 0.5s; 
	-moz-transition: height 0.5s;
	-webkit-transition: height 0.5s;
	-o-transition: height 0.5s; 
	overflow: hidden;
} 



h1 {
	text-align:center;
	line-height: 1,2 !important;
	color: inherit !important;
	font-size:90px !important;
}

body {
	background-color:#EEEEEE !important;
}